@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-peach {
    --color-primary: #e9967a;
    --color-secondary: #ffe4c4;
    --color-opposite-light: #bae6d4;
    --color-opposite-dark: #6e9887;
}

.theme-green {
    --color-primary: #6e9887;
    --color-secondary: #bae6d4;
    --color-opposite-light: #ffe4c4;
    --color-opposite-dark: #e9967a;
}

.btnStart {
    @apply bg-light px-6 py-2.5 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-darker-op hover:shadow-lg hover:text-light transition duration-150 ease-in-out;
}

.btnPlus {
    @apply flex flex-col text-light;
}

.breakBtn {
    @apply relative ml-2 pl-1 z-10;
}

.btnTop {
    @apply text-xl pb-2 leading-tight font-medium mb-2 text-center;
}

.modalbtn {
    @apply rounded-md p-1 text-txtgrey hover:bg-light-op;
}

.toDoEntries li {
    margin: 20px 0px;
}

input:checked + label {
    text-decoration: line-through;
}
